.about-us {
  position: relative;
  margin: 0 auto;
  width: @fixed-page-width;
  padding-top: 194px;
  padding-right: 241px;
  padding-bottom: 142px;
  padding-left: 280px;
  background-color: @background-light;
}

.about-us__icon {
  position: absolute;
  top: 117px;
  left: 50%;
  margin-left: -26px;
  width: 52px;
  height: 43px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 35px;
  .font-bold();
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  color: @title-color;
}

.about-us__text {
  text-align: center;
}
