.about-us {
  background-color: @background-light;
}

.about-us__title {
  .font-bold();
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  color: @title-color;
}

.about-us__text {
  text-align: center;
}
