.reviews {
  background-color: @background-light;
}

.reviews__author {
  .font-bold();
  font-style: normal;
  color: @title-color;
  letter-spacing: 1.8px;
}

.reviews__time-ago {
  .font-light();
  letter-spacing: 1.8px;
}

.reviews__text {
  .font-italic();
  .font(24px);
  text-align: center;
}
