.reviews {
  position: relative;
  margin: 0 auto;
  padding-top: 188px;
  padding-right: 263px;
  padding-bottom: 183px;
  padding-left: 301px;
  width: @fixed-page-width;
  background-color: @background-light;
}

.reviews__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.reviews__icon {
  position: absolute;
  top: 124px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 27px;
}

.reviews__author {
  margin-bottom: 27px;
  .font-bold();
  font-style: normal;
  color: @title-color;
  letter-spacing: 1.8px;
}

.reviews__time-ago {
  .font-light();
  letter-spacing: 1.8px;
}

.reviews__text {
  margin: 0;
  width: 100%;
  .font-italic();
  .font(24px);
  text-align: center;
}
