.site-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .list-style();
}

.site-list__item {
  .font-bold();
  .font(13px);
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.site-list__link {
  color: @menu-color;

  &:hover {
    opacity: 0.6;
  }
  &:focus {
    opacity: 0.3;
  }
}
