.social__list {
  display: flex;
  .list-style();
}

.social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  width: 35px;
  height: 34px;
}
